{% extends 'base.html' %}

{% block content %}

<h2>Add New Task</h2>

<form method="POST">
    <label>Title:</label><br>
    <input type="text" name="title" required><br><br>

    <label>Description:</label><br>
    <textarea name="description"></textarea><br><br>

    <label>Priority:</label><br>
    <select name="priority">
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
    </select><br><br>

    <label>Due Date:</label><br>
    <input type="date" name="due_date" required><br><br>

    <button type="submit">Add Task</button>
</form>

{% endblock %}